language: node_js

node_js:
  - "12"

sudo: false

branches:
   only:
   - master

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"

cache:
  yarn: true
  directories:
    - ".eslintcache"
    - "node_modules"

before_script : "yarn test -- -u"

script: 
  - yarn test
  - yarn codecov

after_sucess: 
  - codecov -t a71a9e1a-ec30-41eb-9998-611c6e5e9c8d
