<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <title><%= context.title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="http://res.yunzhiyuan100.com/o_1e2i8os111rdj2gkrgm4ivdddj.png"/>
</head>
<body>
<div id="<%= context.config.mountElementId %>"></div>
</body>
</html>
