<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <title><%= context.title %></title>
  <meta name="keywords" content="vis,vis vn,inspection,vn,inspection vn, inspection vietnam, vietnam,inspector, QC, quality control, testing, factory audit"/>
  <meta name="description" content="VIS-Professional and comprehensive inspection and certification service provider in Vietnam. PSI inspection with $199."/>
  <link rel="shortcut icon" type="image/x-icon" href="http://res.yunzhiyuan100.com/o_1e2i8os111rdj2gkrgm4ivdddj.png"/>
</head>
<body>
<div id="<%= context.config.mountElementId %>"></div>
</body>
</html>
